@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: myFont;
    src: url('./Klavika/klavika-medium.otf');
}
@font-face{
    font-family: lighterfont;
    src: url('./Klavika/Klavika-light.otf');
}